@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgb(205, 205, 205);
    width: 100%;

    height: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    position: relative;
}

.calander {
    margin-bottom: 7em;
}

.header {
    background-color: #365c9f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    overflow: hidden;
}

.header1 {
    text-transform: uppercase;
    font-style: bold;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1em;
}

#breadcrum-year {
    background-color: #365c9f;
    color: white;
}

#breadcrum-month {
    background-color: #365c9f;
    color: white;
}

#breadcrum-class {
    background-color: #365c9f;
    color: white;
    width: 100%;
}

.breadcrum-element {
    padding: .5em 1em;
    padding-right: 2em;
    border-radius: 1rem;
    position: relative;
}

.breadcrum-element:after {
    content: '';
    --border-color: white;
    --border-size: 3px;
    --arrow-size: 8px;

    position: absolute;
    right: 1em;
    top: 45%;
    display: block;
    border-left: var(--border-size) solid var(--border-color);
    border-top: var(--border-size) solid var(--border-color);
    width: var(--arrow-size);
    height: var(--arrow-size);
    float: right;
    transform: translate(50%, -50%) rotate(225deg);

}

.breadcrum>b {
    display: flex;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: .5em 1em;
    flex-wrap: wrap;
}

.breadcrum>b>div {
    height: 100%;
    display: flex;
    align-items: center;
}

.breadcrum>b>div:nth-child(odd) {
    cursor: pointer;
}

.day-of-week>div {
    font-size: .5em;
    height: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    width: 100%;
}

/* The grid */
.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* 
.date-grid button:first-child {
    grid-column: attr(data-day);
} */

.date-grid {
    grid-gap: .1em;
    margin-inline: .1em;
}

.date-grid>button {
    height: 2.25em;
    outline: 1px solid black;
    /* border-radius: 6px; */
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    border: none;
    transition: 200ms ease-in-out;
}




.date-grid>button.absent {
    background-color: #c6c6c6;
    color: black;
}

.date-grid>button.today {
    background-color: white;
    color: black;
}

.date-grid>button:hover {
    background-color: #b7b7b7;
}

.date-grid>button.selected {
    background-color: #797979;
}



#closeBtn {
    border: none;
    background: none;
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    cursor: pointer;
}

.date-grid>button.present {
    background-color: #28bd4b;
    color: white;
}

.day {
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 6em;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-inline: 1em;
}

.present_button {
    border: 2px solid #28bd4b;
    background-color: #28bd4b;
    outline: none;
    padding: 1em 1em;
    border-radius: 8px;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: bold;

}

.present_button:hover {
    border-color: #28bd4b;
    background-color: #26b948;
}

.present_button:active {
    border-color: #28bd4b;
    background-color: #1c8635;
}

.more_button {
    border: 2px solid #7a7a7a;
    outline: none;
    padding: .3em .75em;
    border-radius: 8px;
    color: black;
    width: 4rem;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.more_button:hover {
    border-color: #7a7a7a;
    background-color: #606060;
}

.more_button:active {
    border-color: #7a7a7a;
    background-color: #515151;
}


.present_button:disabled {
    border-color: #28bd4b;
    background-color: #26b948;
    opacity: .4;
    cursor: not-allowed;
}

.backup_button {
    border: 2px solid gray;
    background-color: gray;
    outline: none;
    padding: 1em 1em;
    border-radius: 8px;
    color: white;
    width: 20%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14em;
    margin-right: 1.5em;
    font-weight: bold;

}

.backup_button:hover {
    border-color: gray;
    background-color: gray;
}

.backup_button:active {
    border-color: gray;
    background-color: rgb(102, 102, 102);
}

.load_backup_button {
    border: 2px solid gray;
    background-color: gray;
    outline: none;
    padding: 1em 1em;
    border-radius: 8px;
    color: white;
    width: 20%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
    margin-right: 1.5em;
    font-weight: bold;

}

.load_backup_button:hover {
    border-color: gray;
    background-color: gray;
}

.load_backup_button:active {
    border-color: gray;
    background-color: rgb(102, 102, 102);
}

.clear_button {
    border: 2px solid gray;
    background-color: gray;
    outline: none;
    padding: 1em 1em;
    border-radius: 8px;
    color: white;
    width: 20%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6em;
    margin-right: 1.5em;
    font-weight: bold;

}

.clear_button:hover {
    border-color: gray;
    background-color: gray;
}

.clear_button:active {
    border-color: gray;
    background-color: rgb(102, 102, 102);
}

.absent_button {
    border: 2px solid #b32f2f;
    background-color: #f53c3c;
    outline: none;
    padding: .5rem;
    border-radius: 8px;
    color: white;
    width: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.absent_button:hover {
    border: 2px solid #832626;
    background-color: rgb(246, 80, 80);
}

.absent_button:active {
    border: 2px solid #823f3f;
    background-color: rgb(255, 143, 143)
}


#portal {
    border-radius: 8px;
    position: absolute;
    background-color: rgb(214, 214, 214);
    width: 90%;
    padding: .5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#user-register {
    border-radius: 8px;
    position: absolute;
    background-color: rgb(214, 214, 214);
    width: 90%;
    padding: .5em;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 100;
    margin-top: 3rem;
}

#reg-form label {
    font-weight: bold;
    font-size: .8em;
    transform: translateY(25%);
}

.body {
    padding-top: 1em;
    overflow: scroll;
    height: 100%;
}

.form-body form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}


.form-body form input {
    line-height: 3;
    padding-inline: 1em;
    border-radius: 8px;
    border: 1px solid black;
}

.proceed_button {
    border: none;
    outline: none;
    padding: 1em;
    cursor: pointer;
    background-color: #28bd4b;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 100%;
}

.lectures-list {
    display: flex;
    flex-direction: column;
    gap: .5em;

}

.lecture-item {
    display: flex;
    width: 100%;
    gap: .5em;
}

.lecture-item>.lecture_name,
.lecture-item>.lecture_teacher {
    width: 50%;
}

.lecture-item>.remove_lecture_button {
    background-color: gray;
    width: 3rem;
    font-size: 1.25em;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.add_lecture_button {
    background-color: gray;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    margin-block: 1em;
    cursor: pointer;
}

#blur {
    z-index: 99;
    background: rgba(0, 0, 0, .75);
    width: 100vw;
    height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
}

#portal>.select {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
}

#portal>.select>.option {
    background-color: #aaaaaa;
    padding: 1em .75em;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

#portal>.select>.option:active {
    background-color: rgb(31, 31, 31);
    color: white;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .5em;
}